#map {
  // background-color: transparentize(grey, 0.4);
}

.cca {
  fill: rgba(80, 31, 132, .1);
  stroke: none;
}

.cca-border {
  fill: none;
  stroke: white;
  stroke-width: .25;
}

.cca.selected,
.cca:hover {
  stroke: black;
  stroke-width: 1;
}


@for $i from 0 through 19 {
  .q#{$i}-19 {
    fill: lighten(transparentize(#501F84, ((20-$i) * 0.05)), 5%);
    opacity: 0.8;
  }
}
