
// bower:scss
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
@import "neat/app/assets/stylesheets/_neat.scss";
// endbower

$max-width: em(900);
$purple: #501F84;


@import 'map';
@import 'form';


body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #blue;
}

.container {
  @include outer-container();
  @include row();
}

#map {
  @include span-columns(4);
}

#text {
  padding-top: 1em;
  @include span-columns(8);

  .search {
    @include fill-parent();
    margin-bottom: 1em;

    input[type=search] {
      width: calc(100% - 4em);
      margin-right: 0;
    }
  }
}


.result,
.instructions {
  padding-top: 2em;

  p {
    font-size: 1.2em;
    font-weight: 300;

    &.citywide {
      font-size: 1em;
      font-weight: 200;

      span { font-weight: 400; }
    }
  }

  span {
    font-weight: 700;
    color: #501F84;
  }
}

.result {
  display: none;
}
